[Desktop Entry]
Encoding=UTF-8
Name=Gnome Connection Manager
Comment=Tabbed SSH connection manager
Exec=gnome-connection-manager
Icon=gnome-connection-manager
Terminal=false
StartupWMClass=Gnome Connection Manager
Type=Application
StartupNotify=true
